aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
attrs==24.2.0
azure-cognitiveservices-speech==1.41.1
azure-core==1.18.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
deprecation==2.1.0
distro==1.9.0
entrypoints==0.4
extra-streamlit-components==0.1.71
Faker==30.8.2
favicon==0.7.0
Flask==3.0.3
fonttools==4.54.1
frozenlist==1.5.0
gevent==24.10.3
gitdb==4.0.11
GitPython==3.1.43
gotrue==2.9.3
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
htbuilder==0.6.2
httpcore==1.0.6
httpx==0.27.2
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.7.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
langchain-core==0.3.19
langchain-openai==0.2.8
langsmith==0.1.143
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
more-itertools==10.5.0
multidict==6.1.0
narwhals==1.12.1
nest-asyncio==1.6.0
numpy==2.1.2
openai==1.54.4
orjson==3.10.11
packaging==24.1
pandas==2.2.3
pillow==10.4.0
plotly==5.24.1
postgrest==0.17.2
prometheus_client==0.21.0
propcache==0.2.0
protobuf==5.28.3
pyarrow==18.0.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.10.0
pymdown-extensions==10.12
pyparsing==3.2.0
pyshorteners==1.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
realtime==2.0.6
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.9.3
rpds-py==0.20.0
setuptools==75.3.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
st-annotated-text==4.0.1
st-star-rating==0.0.6
st-theme==1.2.3
storage3==0.8.2
streamlit==1.39.0
streamlit-authenticator==0.1.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-navigation-bar==3.3.0
streamlit-option-menu==0.4.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
supabase==2.9.1
supafunc==0.6.2
tenacity==9.0.0
tiktoken==0.8.0
toml==0.10.2
tornado==6.4.1
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
validators==0.34.0
watchdog==5.0.3
websocket==0.2.1
websockets==13.1
Werkzeug==3.0.6
yarl==1.17.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.1.1
